<section class="bg-zinc-900 p-20 rounded-xl my-4">
    <h1 class="text-5xl font-bold my5 text-center">Abaut eVisas</h1>
    <p class="text-zinc-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae placeat voluptas mollitia magnam deserunt modi veritatis ut excepturi saepe, accusantium iure distinctio maiores. At voluptatum obcaecati minima maiores accusantium esse magni corporis soluta inventore perferendis! Est veniam harum mollitia omnis sunt excepturi aliquid. Cum excepturi doloribus provident at voluptatum beatae, in est quod sit asperiores repellendus sequi quis pariatur ea ex eos earum ab! Labore, hic sapiente cum beatae inventore quo, quia odio saepe neque harum itaque quod commodi. Numquam, veniam deserunt incidunt aliquam nulla fugiat quos nostrum magni repellat, itaque omnis fuga optio velit? Dolore sapiente incidunt doloremque corrupti.</p>

</section>

