<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 text-center md:text-left rounded-xl">
  <div>
    <h1 class="text-5xl font-bold pb-2">Protect your Password</h1>
    <p class="my-3 text-2xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum possimus
      cumque assumenda tempora dolore soluta, nisi quibusdam fuga iure
      obcaecati.
    </p>
    <button class="bg-indigo-600 px-3 py-2 hover:bg-indigo-300"> Star now</button>
    
  </div>
  <img src="/images/undraw_fingerprint_login.svg" alt="" class="w-80" />
</header>
