---
import {projects} from '../../config/projects.json'

---

<h1 class="text-center font-bold text-5xl mt-10 my-5">Projects</h1>
{
    projects.map(projects => (
        <div class="flex flex-col mb-2 text-center md:text-left md:flex-row">
            <div class="flex-1 py-4">
                <h2 class="text-2xl font-bold my-4">{projects.title}</h2>
                <p class="my-2">{projects.description}</p>      
                <button class="bg-indigo-600 px-3 py-2">More info</button>      
            </div>
            <div class="fel1">
                <img src={projects.image} class="w-72 m-auto">
            </div>
        </div>
    ))
}